<section class="fade-in vh-100">
    <app-navbar></app-navbar>

    <div class="container" style="margin-top: 1em;">
        <!-- Sign up form -->
        <form>
            <div class="card person-card">
                <div class="card-body">
    
                    <img id="img_sex" class="person-img"
                        src="assets\images\recursos\motoByN.jpg">
                    <h2 id="who_message" class="card-title">¿Quieres compartir la experiencia de andar en moto con otros? </h2>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-10 5em">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title" style="text-align:center">Ingresa los datos de tu motocicleta.</h2>

                        </div>
                    </div>
                </div>
                    
            </div>
            <div style="margin-top: 1em;">
                <button type="button" class="btn btn-primary btn-lg btn-block">Registrar</button>
            </div>
            </form>
    </div>


    </section>
