<section class="fade-in vh-100">
<app-navbar></app-navbar>
<div class="container mt-3">
    <div class="row">
        <div class="col-sm-4 mb-3" *ngFor="let img of images">
          <div class="card mb-3 custom-card">
            <img [src]="img.src" class="card-img-top custom-img" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{img.title}}</h5>
              <p class="card-text">{{img.description}}</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>


