<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">MotoSoft</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="asociarse()">Asociarse</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="input-group">
        <a *ngIf="this.usuario.id == -1" class="btn btn-outline-primary my-2 my-sm-0 ml-2 text-white"
           (click)="registrarse()">Registrarse</a>
        <a *ngIf="this.usuario.id == -1" class="btn btn-outline-primary my-2 my-sm-0 ml-2 text-white"
           (click)="ingresar()">Ingresar</a>

        <div ngbDropdown class="search-dropdown-container">
          <button *ngIf="this.usuario.id != -1" class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle><i
            class="fa fa-user"></i>  {{this.usuario.nombre}}  </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="tarjetas()">Mis tarjetas</button>
            <button ngbDropdownItem (click)="reservas()">Mis reservas</button>
            <!-- TODO Agregar funcionalidad a reportar incidencia  -->
            <button ngbDropdownItem (click)="incidencia()">Reportar incidencia</button>
            <button ngbDropdownItem (click)="salir()">Salir</button>
          </div>
        </div>

        <input class="mr-sm-2" placeholder="Buscar" type="search" name="busqueda"
               [(ngModel)]="busqueda"/>
        <div class="input-group-append">
          <select class="custom-select" id="inputGroupSelect02" name="tipo" [(ngModel)]="tipo">
            <option value="1" selected>Marca</option>
            <option value="2">Modelo</option>
            <option value="3">Kilometraje</option>
          </select>
          <button class="btn btn-outline-success my-2 my-sm-0 btn-green" (click)="buscar()">Buscar
          </button>
        </div>


      </div>
    </form>
  </div>
</nav>
