<section  class="fade-in vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://img.freepik.com/vector-premium/illistration-dibujos-animados-vector-mujer-bonita-monta-bicicleta-chica-gafas-sol-moto_253349-1656.jpg"
            class="img-fluid" alt="MotoSoft">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form>
            <div class="text-center">
              <img src="https://images.wuzzuf-data.net/files/company_covers/thumbs/a87c906f1bb16f752fe2405881b4649e.jpeg"
            class="img-fluid" alt="MotoSoft">
              <p class="lead fw-normal mb-0 me-3">Con Motosoft, la emoción está en cada kilómetro.</p>
            </div>
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">Ingresar</p>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="mostrarError">
              Usuario o contraseña inválidos.
            </div>
            <div class="form-outline mb-4">
              <label class="form-label fw-bold" for="usuario">Usuario:</label>
              <input [(ngModel)]="usuario.correo"  [ngModelOptions]="{ standalone: true }"  type="email" id="usuario" class="form-control form-control-lg"
                placeholder="Ingresa tu correo electrónico " />
            </div>
            <label class="form-label fw-bold" for="password">Contraseña:</label>
            
            <div class="form-outline mb-3" style="display: flex; align-items: center;">
              <input type="{{inputType}}" [(ngModel)]="usuario.clave" [ngModelOptions]="{ standalone: true }" type="password" id="password"
                class="form-control form-control-lg" placeholder="Escribe tu contraseña" style="flex: 1; margin-right: 10px;">
              <button *ngIf="!ver" type="button" class="btn btn-outline-secondary" (click)="visualizar()">
                <i class="fa fa-eye"></i>
              </button>
              <button *ngIf="ver" type="button" class="btn btn-outline-secondary" (click)="visualizar()">
                <i class="fa fa-eye-slash"></i>
              </button>
            </div>
            

            <div class="d-flex justify-content-between align-items-center">
              <button type="button" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="ingresar()">Aceptar</button>
              <a (click)="registrarse()" class="text-body">Olvidé la contraseña.</a>
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <p class="small fw-bold mt-2 pt-1 mb-0">¿No estas registrado?<a (click)="registrarse()"
                  class="link-danger">¡Registrate gratis!</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
        Sistema de renta de motocicletas.
      </div>
      <!-- Copyright -->
  
      <!-- Right -->
      <div>
        <a href="https://www.facebook.com" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.twitter.com" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.google.com" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="https://chat.openai.com" class="text-white">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
      <!-- Right -->
    </div>
  </section>